@model HotelVanKeus.Models.Room


<div class="container">
    <p class="lead">The following room has been added/Edited successfully:</p>
    <ul>
        <li>Id (auto generated): @Model.Id </li>
        <li>Number: @Model.RoomNumber</li>
        <li>Size: @Model.Size</li>
        <li>Type: @Model.TypeRoom</li>
        <li>Current status: @Model.Status</li>
    </ul>
</div>
<div>
    <a type="button" href="@Url.Action("List", "Room")" class="btn btn-primary">Back to List</a>
</div>

@*

    <div class="modal fade" id="roomAddedConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Room Added!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="lead">The following room has been added successfully:</p>
                    <ul>
                        <li>Id (auto generated): @Model.Id </li>
                        <li>Number: @Model.RoomNumber</li>
                        <li>Size: @Model.Size</li>
                        <li>Type: @Model.TypeRoom</li>
                        <li>Current status: @Model.Status</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

*@