@model HotelVanKeus.Models.Room


<div class="container">
    <p class="lead">The following room has been added/Edited successfully:</p>
    <ul>
        <li>Id (auto generated): @Model.Id </li>
        <li>Number: @Model.RoomNumber</li>
        <li>Size: @Model.Size</li>
        <li>Type: @Model.TypeRoom</li>
        <li>Current status: @Model.Status</li>
    </ul>
</div>
<div style="float: right;">
    <a type="button" href="@Url.Action("List", "Room")" class="btn btn-primary">Back to List</a>
</div>

