@model HotelVanKeus.ViewModels.ReservationViewModel;

<h3>Add new reservation:</h3>
<hr class="my-4" />

<h5>Step 3: Select a guest to add to the booking:</h5>

<hr class="my-4" />

<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>

<hr class="my-4" />

<div>
    <p class="lead">Search and select the guest:</p>
    <div>
        <table class="table table-hover" id="registeredGuestsList">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var guest in Model.GuestsList)
                {
                    <tr class="table-primary">
                        <td>@guest.Id</td>
                        <td>@guest.FirstName</td>
                        <td>@guest.LastName</td>
                        <td>@guest.Telephone</td>
                        <td>@guest.Email</td>
                        <td>
                            <a asp-action="ConfirmReservation" asp-route-selectedGuestId="@guest.Id"
                               asp-route-selectedRoomId="@Model.RequiredRoom.Id"
                               asp-route-checkin="@Model.TempCheckin"
                               asp-route-checkout="@Model.TempCheckout"
                               type="button" class="btn-sm btn-success">Select</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div style="float: right;">
    <a type="button" href="@Url.Action("collectroomrequirements", "Reservation")" class="btn btn-warning">Start again</a>
    <a type="button" href="@Url.Action("Create", "Guest")" class="btn btn-outline-primary">Create new guest</a>
</div>



@section scripts {
    <script>
    $(document).ready(() => {
        $('#registeredGuestsList').DataTable();
    });
    </script>
}