@model HotelVanKeus.Models.Reservation


<div class="container">
    <p class="lead">The following reservation has been added/Edited successfully:</p>
    <ul>
        <li>Id (auto generated): @Model.ReservationId </li>
        <li>First Name: @Model.Guest.FirstName</li>
        <li>Last Name: @Model.Guest.LastName </li>
        <li>Telephone: @Model.Guest.Telephone</li>
        <li>Email: @Model.Guest.Email</li>
        <li>Check in: @Model.Checkin</li>
        <li>Check out: @Model.Checkout</li>
        <li>Room size: @Model.ReservationRoom.Room.Size</li>
        <li>Room type: @Model.ReservationRoom.Room.TypeRoom</li>
    </ul>
</div>
<div>
    <a type="button" href="@Url.Action("List", "Reservation")" class="btn btn-primary">Back to List</a>
</div>