@model List<HotelVanKeus.Models.Reservation>;

<h3>List of Reservations:</h3>

<hr class="my-2" />

<div>
    <table class="table table-hover" id="reservationsListTable">
        <thead>
            <tr>
                <th scope="col">Reservation Id</th>
                <th scope="col">Guest First Name</th>
                <th scope="col">Guest Last Name</th>
                <th scope="col">Room Number</th>
                <th scope="col">Checkin</th>
                <th scope="col">Checkout</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model)
            {
                <tr class="table-primary">
                    <td>@reservation.Id</td>
                    <td>@reservation.Guest.FirstName</td>
                    <td>@reservation.Guest.LastName</td>
                    <td>@reservation.Room.RoomNumber</td>
                    <td>@reservation.Checkin.ToString("dd / MMM / yyyy")</td>
                    <td>@reservation.Checkout.ToString("dd / MMM / yyyy")</td>

                    <td>
                        <a role="button" class="badge badge-warning" id="editResBtn" data-toggle="modal" data-target="#unableToEditModal">Edit</a>
                        <button class="badge badge-danger" id="deleteResBtn" onclick="deleteClicked(@reservation.Id)" role="button">Cancel</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



@*Modal*@

@section scripts{

    <script type="text/javascript">

        function deleteClicked(id) {
            $("#confirmDelete").modal('show');

            $('#confirmDeleteBtn').click(() => {
                window.location.href = "Reservation/Delete?id=" + id;
            });
        }

        $(document).ready(function () {
            $('#reservationsListTable').DataTable();
        });

    </script>
}

@*Edit notification modal*@

<div class="modal fade" id="unableToEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Unable to edit reservation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                To edit this reservation, you need to recheck room availability on the desired new dates. Please delete this reservation and create a new one instead.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*Delete Confirmation Modal*@

<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This will delete the reservation from the system, making the reserved room available for new bookings. Are you sure you want to delete it indeed?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn-sm btn-danger" id="confirmDeleteBtn" role="button">Confirm delete</a>
            </div>
        </div>
    </div>
</div>
